.selection-body-mobile {
    text-align: center;
}

.selection-body {
    margin: 0 4rem;
    text-align: center;
}

.photo {
    height: 10rem;
    width: 10rem;
    margin: 2rem;
}

.photo-mobile {
    height: 10rem;
    width: 10rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

.character {
    display: flex;
    justify-content: space-evenly;
}

.character-mobile {
    display: flex;
    background-color: darkgray;
    margin: 1rem;
    border-radius: 1rem;
}

.details {
    margin: 2rem 0 0 0;
}

.details-mobile {
    margin: 0 1rem;
}

.detail {
    line-height: 0rem;
}