.selection-body-mobile {
    margin: 2rem 4rem;
    text-align: center;
}

.selection-body {
    margin: 0 4rem;
    text-align: center;
}

.photo {
    height: 200px;
    margin: 2rem;
}

.character {
    display: flex;
    justify-content: space-evenly;
}

.character-mobile {
    display: flex;
    flex-direction: column;
}

.details {
    margin: 2rem 0 0 0;
}

.details-mobile {
    margin: 0;
}

.detail {
    line-height: 0rem;
}