.choice {
    padding: 0 0 1rem 1rem;
}

.choiceButton {
    background-color: lightgray;
    color: black;
    font-size: 1.17rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    width: 95%;
}